html {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #1db954;
    color: #212121;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

details summary {
    cursor: pointer;
}